<head>
	<script src="http://localhost:3001/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="scripts/thirdparty/ext-all.css" />
    <script type="text/javascript" src="scripts/thirdparty/ext-all.js"></script>

    <script type="text/javascript" src="scripts/nitter.js"></script>	
</head>
<body>
	<script>
    var socket = io.connect('http://localhost:3001');
    socket.on('message', function (data) {
      console.log(data);
      var newEl = Ext.create('Ext.Panel', {
       html : data.name +  ":" + data.message,
      });
      console.debug('get messages component');
      console.debug(Ext.getCmp('messages'));
      Ext.getCmp('messages').add(newEl);
      //socket.emit('my other event', { my: 'data' });
    });
	</script>
	<input type='hidden' id='username'>
</body>